@model WatchShop.DataAccess.Models.Watch

@{
    ViewData["Title"] = "Удалить товар";
}

<h1>Удалить товар</h1>

<h3>Вы уверены, что хотите удалить этот товар?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img src="@(Model.ImageUrl ?? "/images/tclassic.jpg")" class="img-fluid rounded" alt="@Model.Name" />
        </div>
        <div class="col-md-9">
            <dl class="row">
                <dt class="col-sm-3">Название</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Цена</dt>
                <dd class="col-sm-9">@Model.Price.ToString("C")</dd>

                <dt class="col-sm-3">Категория</dt>
                <dd class="col-sm-9">@Model.Category?.Name</dd>

                <dt class="col-sm-3">Производитель</dt>
                <dd class="col-sm-9">@Model.Manufacturer?.Name</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-outline-secondary ms-2">Отмена</a>
            </form>
        </div>
    </div>
</div>