@model IEnumerable<WatchShop.DataAccess.Models.Watch>

@{
    ViewData["Title"] = "Товары";
}

<h1>Управление товарами</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить новый товар</a>
</p>
<table class="table align-middle">
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Категория</th>
            <th>Производитель</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@(item.ImageUrl ?? "/images/tclassic.jpg")" class="img-fluid rounded" style="max-width: 60px;" alt="@item.Name" />
                </td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Category?.Name</td>
                <td>@item.Manufacturer?.Name</td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>